.guideCard {
  margin: 24px;
}

.sentenceCard {
  margin: 24px;
}

.submitBtnBox {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.secondInput {
  margin-top: 8px;
}

.modalBody {
  display: flex;
  align-items: center;
}

.loadingNotice {
  font-size: 16px;
  text-align: center;
  margin: 8px;
}
